* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Press Start 2P",Georgia;
    font-weight: 400;
    font-style: normal;
    background-color: #d4d0c8;
}

body {
    margin: 5px;
    padding: 0;
}

#title-bar {
    background-color: #000080;
    color: #ffffff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #808080;
    font-size: 1.1rem;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}


.nav-button {
    text-decoration: none;
    color: #000000;
    display: block;
}

.nav-button::first-letter {
    text-decoration: underline;
}

