* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: "Press Start 2P",Georgia;
    font-weight: 400;
    font-style: normal;
    background-color: #c4c4c4;
}

body {
    margin: 1rem;
    height: calc(100vh - 2rem);
}

#flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    margin-bottom: 1rem; 
}

#main-content {
    padding: 100px;
    font-size: 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#title-bar {
    background-color: #000080;
    color: #ffffff;
    padding: 0.7rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    list-style-type: none;
    padding: 0 10px;
}


.nav-button {
    text-decoration: none;
    color: #000000;
    display: block;
}

.nav-button::first-letter {
    text-decoration: underline;
}

h2 {
    font-size: 1.2rem;
    margin: 1.2rem 0;
}

.nav-button {
    padding: 0.5rem 0.5rem;

}

.nav-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.download-button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #000080;
    color: white;
}